.header{
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.dynamics-banner-image{
    filter: brightness(70%);
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

.banner-container {
    display: flex;
    flex: 1;
    height: 700px;
    margin: 0px;
    position: relative;
    margin-top: 10px;
}

.content-container{
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    padding-top: 10px;
}

.break{
    border-color:rgb(0, 0, 0);
    border-style: solid;
    width: 90%;
  }

.course-content-title{
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    font-family: "Raleway", arial;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-top: 20px;
}

.list-container{
    text-align: center;
}

.content-list{
    display: inline-block;
    text-align: left;
    font-family: "Nunito", arial;
    font-size: 23px;
}

.information{
    color: black;
    text-align: center;
    font-family: "Nunito", arial;
    font-size: 23px;
}

.resources-link{
    color: black;
    }
    
.resources-link:visited{
    color: black;
    }

.question-title{
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    font-family: "Raleway", arial;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-top: 20px;
}

.question-text{
    color: black;
    text-align: center;
    font-family: "Nunito", arial;
    font-size: 30px;
    padding: 10px;
}

.question-image-container{
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 390px;
    max-width: 900px;
    border-radius: 8px;
    margin: 0 auto; 
    padding: 10px;
}

.question-image{
    object-fit: contain;
    width: 100%;
    height: 390px;
}

.answer-button-container{
    display: flex;
    justify-content: center;
}

#answer-button{
    font-size: 23px;
    font-family: "Nunito", arial;
    font-weight: 700;
    color: white;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 24px;
    border: none;
    background-color: black;
    cursor: pointer;
    transition: background-color 0.25s;
}

#answer-button:hover{
    background-color: rgb(46, 46, 46);
}

#answer-button:active{
    background-color: rgb(77, 77, 77);
}

.hidden{
    display: none;
}

sup{
    font-size: 17px;
}

sub{
    font-size: 17px;
}

.sub-fraction,
.sup-fraction{
    font-size: 23px;
}

.answer-text{
    color: black;
    text-align: center;
    font-family: "Nunito", arial;
    font-size: 30px;
    padding: 10px;
    text-decoration: underline ;
}

.frac-position{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: "Nunito", arial;

}

span.frac {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }
  span.frac > sup, span.frac > sub {
    display: block;
    font: inherit;
    padding: 0 0.3em;
  }
  span.frac > sup {border-bottom: 0.08em solid;}
  span.frac > span {display: none;}

/* Scroll Stuff */

.scroll-down .header {
    transform: translate3d(0, -100%, 0);
}

.scroll-up .header {
    filter: drop-shadow(0 -5px 10px rgb(170, 170, 170));
}

/* Small Devices (Mobile Phones) */
@media (max-width: 650px) {

    .course-content-title{
        font-size: 35px;
    }

    .information{
        font-size: 21px;
    }

    .content-list{
        display: inline-block;
        text-align: left;
        font-family: "Nunito", arial;
        font-size: 21px;
    }

    .answer-text,
    .frac-position,
    .question-text{
        font-size: 25px;
    }

        
    }
